themes/IceWM-RedZen/frameAB.xpm
themes/IceWM-RedZen/frameABL.xpm
themes/IceWM-RedZen/frameABR.xpm
themes/IceWM-RedZen/frameAL.xpm
themes/IceWM-RedZen/frameAR.xpm
themes/IceWM-RedZen/frameAT.xpm
themes/IceWM-RedZen/frameATL.xpm
themes/IceWM-RedZen/frameATR.xpm
themes/IceWM-RedZen/frameIB.xpm
themes/IceWM-RedZen/frameIBL.xpm
themes/IceWM-RedZen/frameIBR.xpm
themes/IceWM-RedZen/frameIL.xpm
themes/IceWM-RedZen/frameIR.xpm
themes/IceWM-RedZen/frameIT.xpm
themes/IceWM-RedZen/frameITL.xpm
themes/IceWM-RedZen/frameITR.xpm
